:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --font-color: "#5C5858";
}
.dragon {
  color: #8a80ff; /* Dragon Light */
}

.bug {
  color: #a8c057; /* Bug Light */
}

.dark {
  color: #7a7880; /* Dark Light */
}

.electric {
  color: #ebd15e; /* Electric Light */
}

.fairy {
  color: #f198cd; /* Fairy Light */
}

.fighting {
  color: #da7b8f; /* Fighting Light */
}

.fire {
  color: #eca15e; /* Fire Light */
}

.flying {
  color: #6b88c4; /* Flying Light */
}

.ghost {
  color: #8e79b3; /* Ghost Light */
}

.grass {
  color: #77bd7e; /* Grass Light */
}

.ground {
  color: #c98a54; /* Ground Light */
}

.ice {
  color: #9fd8d1; /* Ice Light */
}

.normal {
  color: #a0a496; /* Normal Light */
}

.poison {
  color: #7d559e; /* Poison Light */
}

.psychic {
  color: #eda18d; /* Psychic Light */
}

.rock {
  color: #c0b6b1; /* Rock Light */
}

.steel {
  color: #b9becb; /* Steel Light */
}

.water {
  color: #73b5d9; /* Water Light */
}
