:root {
  --font-color: #5c5858;
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--font-color);
}
.dragon {
  color: #8a80ff; /* Dragon Light */
}

.bug {
  color: #a8c057; /* Bug Light */
}

.dark {
  color: #7a7880; /* Dark Light */
}

.electric {
  color: #ebd15e; /* Electric Light */
}

.fairy {
  color: #f198cd; /* Fairy Light */
}

.fighting {
  color: #da7b8f; /* Fighting Light */
}

.fire {
  color: #eca15e; /* Fire Light */
}

.flying {
  color: #6b88c4; /* Flying Light */
}

.ghost {
  color: #8e79b3; /* Ghost Light */
}

.grass {
  color: #77bd7e; /* Grass Light */
}

.ground {
  color: #c98a54; /* Ground Light */
}

.ice {
  color: #9fd8d1; /* Ice Light */
}

.normal {
  color: #a0a496; /* Normal Light */
}

.poison {
  color: #7d559e; /* Poison Light */
}

.psychic {
  color: #eda18d; /* Psychic Light */
}

.rock {
  color: #c0b6b1; /* Rock Light */
}

.steel {
  color: #b9becb; /* Steel Light */
}

.water {
  color: #73b5d9; /* Water Light */
}

.dragon-background {
  background: #8a80ff; /* Dragon Light */
}

.bug-background {
  background: #a8c057; /* Bug Light */
}

.dark-background {
  background: #7a7880; /* Dark Light */
}

.electric-background {
  background: #ebd15e; /* Electric Light */
}

.fairy-background {
  background: #f198cd; /* Fairy Light */
}

.fighting-background {
  background: #da7b8f; /* Fighting Light */
}

.fire-background {
  background: #eca15e; /* Fire Light */
}

.flying-background {
  background: #6b88c4; /* Flying Light */
}

.ghost-background {
  background: #8e79b3; /* Ghost Light */
}

.grass-background {
  background: #77bd7e; /* Grass Light */
}

.ground-background {
  background: #c98a54; /* Ground Light */
}

.ice-background {
  background: #9fd8d1; /* Ice Light */
}

.normal-background {
  background: #a0a496; /* Normal Light */
}

.poison-background {
  background: #7d559e; /* Poison Light */
}

.psychic-background {
  background: #eda18d; /* Psychic Light */
}

.rock-background {
  background: #c0b6b1; /* Rock Light */
}

.steel-background {
  background: #b9becb; /* Steel Light */
}

.water-background {
  background: #73b5d9; /* Water Light */
}
.dragon-boxshadow:hover {
  box-shadow: rgba(138, 128, 255, 0.5) 0px 1px 4px,
    rgba(138, 128, 255, 0.5) 0px 0px 0px 3px; /* Dragon Light */
}

.bug-boxshadow:hover {
  box-shadow: rgba(168, 192, 87, 0.5) 0px 1px 4px,
    rgba(168, 192, 87, 0.5) 0px 0px 0px 3px; /* Bug Light */
}

.dark-boxshadow:hover {
  box-shadow: rgba(122, 120, 128, 0.5) 0px 1px 4px,
    rgba(122, 120, 128, 0.5) 0px 0px 0px 3px; /* Dark Light */
}

.electric-boxshadow:hover {
  box-shadow: rgba(235, 209, 94, 0.5) 0px 1px 4px,
    rgba(235, 209, 94, 0.5) 0px 0px 0px 3px; /* Electric Light */
}

.fairy-boxshadow:hover {
  box-shadow: rgba(241, 152, 205, 0.5) 0px 1px 4px,
    rgba(241, 152, 205, 0.5) 0px 0px 0px 3px; /* Fairy Light */
}

.fighting-boxshadow:hover {
  box-shadow: rgba(236, 161, 94, 0.5) 0px 1px 4px,
    rgba(236, 161, 94, 0.5) 0px 0px 0px 3px; /* Fire Light */
}

.flying-boxshadow:hover {
  box-shadow: rgba(107, 136, 196, 0.5) 0px 1px 4px,
    rgba(107, 136, 196, 0.5) 0px 0px 0px 3px; /* Flying Light */
}

.ghost-boxshadow:hover {
  box-shadow: rgba(142, 121, 179, 0.5) 0px 1px 4px,
    rgba(142, 121, 179, 0.5) 0px 0px 0px 3px; /* Ghost Light */
}

.grass-boxshadow:hover {
  box-shadow: rgba(119, 189, 126, 0.5) 0px 1px 4px,
    rgba(119, 189, 126, 0.5) 0px 0px 0px 3px; /* Grass Light */
}

.ground-boxshadow:hover {
  box-shadow: rgba(201, 138, 84, 0.5) 0px 1px 4px,
    rgba(201, 138, 84, 0.5) 0px 0px 0px 3px; /* Ground Light */
}

.ice-boxshadow:hover {
  box-shadow: rgba(159, 216, 209, 0.5) 0px 1px 4px,
    rgba(159, 216, 209, 0.5) 0px 0px 0px 3px; /* Ice Light */
}

.normal-boxshadow:hover {
  box-shadow: rgba(160, 164, 150, 0.5) 0px 1px 4px,
    rgba(160, 164, 150, 0.5) 0px 0px 0px 3px; /* Normal Light */
}

.poison-boxshadow:hover {
  box-shadow: rgba(125, 85, 158, 0.5) 0px 1px 4px,
    rgba(125, 85, 158, 0.5) 0px 0px 0px 3px; /* Poison Light */
}

.psychic-boxshadow:hover {
  box-shadow: rgba(237, 161, 141, 0.5) 0px 1px 4px,
    rgba(237, 161, 141, 0.5) 0px 0px 0px 3px; /* Psychic Light */
}

.rock-boxshadow:hover {
  box-shadow: rgba(192, 182, 177, 0.5) 0px 1px 4px,
    rgba(192, 182, 177, 0.5) 0px 0px 0px 3px; /* Rock Light */
}

.steel-boxshadow:hover {
  box-shadow: rgba(185, 190, 203, 0.5) 0px 1px 4px,
    rgba(185, 190, 203, 0.5) 0px 0px 0px 3px; /* Steel Light */
}

.water-boxshadow:hover {
  box-shadow: rgba(115, 181, 217, 0.5) 0px 1px 4px,
    rgba(115, 181, 217, 0.5) 0px 0px 0px 3px; /* Water Light */
}

.fire-boxshadow:hover {
  box-shadow: rgba(236, 161, 94, 0.5) 0px 1px 4px,
    rgba(236, 161, 94, 0.5) 0px 0px 0px 3px; /* Fire Light */
}

.flying-boxshadow:hover {
  box-shadow: rgba(107, 136, 196, 0.5) 0px 1px 4px,
    rgba(107, 136, 196, 0.5) 0px 0px 0px 3px; /* Flying Light */
}

.ghost-boxshadow:hover {
  box-shadow: rgba(142, 121, 179, 0.5) 0px 1px 4px,
    rgba(142, 121, 179, 0.5) 0px 0px 0px 3px; /* Ghost Light */
}

.grass-boxshadow:hover {
  box-shadow: rgba(119, 189, 126, 0.5) 0px 1px 4px,
    rgba(119, 189, 126, 0.5) 0px 0px 0px 3px rgba(119, 189, 126, 0.5); /* Grass Light */
}

.ground-boxshadow:hover {
  box-shadow: rgba(201, 138, 84, 0.5) 0px 1px 4px,
    rgba(201, 138, 84, 0.5) 0px 0px 0px 3px; /* Ground Light */
}

.ice-boxshadow:hover {
  box-shadow: rgba(159, 216, 209, 0.5) 0px 1px 4px,
    rgba(159, 216, 209, 0.5) 0px 0px 0px 3px; /* Ice Light */
}

.normal-boxshadow:hover {
  box-shadow: rgba(160, 164, 150, 0.5) 0px 1px 4px,
    rgba(160, 164, 150, 0.5) 0px 0px 0px 3px; /* Normal Light */
}

.poison-boxshadow:hover {
  box-shadow: rgba(125, 85, 158, 0.5) 0px 1px 4px,
    rgba(125, 85, 158, 0.5) 0px 0px 0px 3px; /* Poison Light */
}

.psychic-boxshadow:hover {
  box-shadow: rgba(237, 161, 141, 0.5) 0px 1px 4px,
    rgba(237, 161, 141, 0.5) 0px 0px 0px 3px; /* Psychic Light */
}

.rock-boxshadow:hover {
  box-shadow: rgba(192, 182, 177, 0.5) 0px 1px 4px,
    rgba(192, 182, 177, 0.5) 0px 0px 0px 3px; /* Rock Light */
}

.steel-boxshadow:hover {
  box-shadow: rgba(185, 190, 203, 0.5) 0px 1px 4px,
    rgba(185, 190, 203, 0.5) 0px 0px 0px 3px; /* Steel Light */
}

.water-boxshadow:hover {
  box-shadow: rgba(115, 181, 217, 0.5) 0px 1px 4px,
    rgba(115, 181, 217, 0.5) 0px 0px 0px 3px; /* Water Light */
}
